* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar_style*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* Logo */
.logo {
  font-size: 32px;
}

/* Navbar_menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(48, 49, 59);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
}

/* Ham_menu */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* Applying Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(48, 49, 59);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(48, 49, 59);
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

/* Styling for hero section */
.hero {
  background-image: url('pxfuel.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 65px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f94de5;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.cta-button:hover {
  background-color: #5b87ad;
}

.image{
  width: 140px;
  margin-bottom: 30px;
  border: 2px solid #424242;
}
.container{
  color: rgb(209, 245, 245);
}